

  
        <div class="col-md-12">
            <div class="error-page text-center">
                <h1>Score</h1>
                <h3>Thanks for attending the test</h3>
                <p>The score of test is given below</p>
                <form>
                    <div class="input-group input-group-lg col-md-10 " style="margin: 5%;">
                        <input type="text" placeholder="89" class="form-control" disabled>
                            <!-- <div class="input-group-btn">
                                <button type="button" class="btn btn-default" tabindex="-1">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div> -->
                    </div>
                </form>
                <br>
                <!-- <a href="index.html" class="btn btn-lg btn-primary">Return to previous page</a> -->
            </div>
        </div><!-- /.col-->
    


